
.grid_wrapper {
  max-width: 1284px;
  margin: 0 auto;
}

.d1,
.d2,
.d3 {
  float: left;
}

.d0 {display:none;}
.d1 {width:33.333%;}
.d2 {width:66.667%;}
.d3 {width:100.0%}

.d_container {
  margin-left: 22px;
  margin-right: 22px;
}


.d_prefix_1 {
  padding-left: 33.333%;
}
.d_prefix_2 {
  padding-left: 66.667%;
}

.d_suffix_1 {
  padding-right: 33.333%;
}
.d_suffix_2 {
  padding-right: 66.667%;
}


.d_pull_1 {
  position: relative;
  left: -33.333%;
}

.d_pull_2 {
  position: relative;
  left: -66.667%;
}

.d_push_1 {
  position: relative;
  left: 33.333%;
}

.d_push_2 {
  position: relative;
  left: 66.667%;
}  

.d_break {
  clear: both;
}
